* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.contenedor {
  width: 100vw;
  height: 100vh;
  padding: 25% 0px;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  background: #000000;
}

img {
  display: flex;
  height: 250px;
  object-fit: cover;
  width: 50%;
}

.imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.text {
  width: 100%;
  color: whitesmoke;
  text-align: center;
}

h1 {
  font-size: 60px;
  font-family: "Ranchers", cursive;
  text-align: center;
}

h2 {
  font-size: 25px;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
  }

  .col-md-6 {
    width: 50%;
  }

  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 30px;
  }
}

@media screen and (min-width: 1200px) {
  img {
    height: 320px;
    width: auto;
  }
  h1 {
    font-size: 85px;
  }
  h2 {
    font-size: 40px;
  }
}
