* {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
.expan {
  width: 100vw;
  height: 100vh;
}

.inputName-w {
  width: 75%;
}

.btnStart-w {
  width: 40%;
}

section {
  padding: 50px;
}

h1 {
  font-family: "Ranchers", cursive;
}
.bold {
  font-weight: bold;
}


.bgw {
  background-color: whitesmoke;
}

.bg-black {
  background-color: black;
}

.backg {
  background-color: rgba(209, 208, 198, 0.513);
  padding: 10px;
}
.bg-card {
  background-color: rgba(124, 124, 121, 0.397);
}

.borderb {
  border-top: solid rgb(31, 32, 34);
}

.margin-card {
  margin: 10px;
}

.mg-bottom {
  margin-bottom: 30px;
}
#imgIndex-container {
  width: 60%;
}

#imgIndex {
  background-size: cover;
  width: 100%;
}
.imgn {
  max-width: 6rem;
  max-height: 3.5rem;
}

#score {
  display: flex;
}

@media screen and (min-width: 700px) {
  .inputName-w {
    width: 90%;
  }
}
