* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    padding: 50px;
    max-height: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    background: #000000;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #434343, #000000);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #434343, #000000); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

img {
    display: flex;
    height: 250px;
    object-fit: cover;
    width: 50%;
}
.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.text {
    width: 50%;
    color: whitesmoke;
    text-align: center;
}

a {
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bolder ;
    margin-top: 30px;
    border: 1px solid white;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;
}

h1 {
    font-size: 80px;
    font-family: 'Ranchers', cursive;
}

h2 {
    font-size: 30px;
}

@media screen and (max-width: 2170px) {
    img{
        height: 450px;
        width: auto;
    }
}

@media screen and (max-width: 700px) {
    img{
        height: 250px;
    }
    h1 {
        font-size: 70px;
    }
    h2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 450px) {
    .container {
        display: inline-block;
        flex-wrap: wrap;
    }

    .imagen{
        width: 100%;
    }

    .text{
        width: 100%;
    }

    h1 {
        font-size: 60px;
        text-align: center;
    }
    h2 {
        font-size: 25px;
        text-align: center;
    }
}