* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

section {
    /* background-image: url('https://images.pexels.com/photos/172303/pexels-photo-172303.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
    /* background-size: cover; */
    /* background-color: rgba(240, 240, 240, 0.555); */
    padding: 50px;
}

.bgw{
    background-color: whitesmoke;
}

/* #937fa3b7 */
/* rgba(171, 206, 166, 0.555) */
/* rgba(105, 193, 199, 0.726) */

h1 {
    font-family: 'Ranchers', cursive;
    /* color: whitesmoke */
}

.margin-card {
    margin: 10px;
}

.txt-white {
    color: whitesmoke;
}
.backg {
    background-color: rgba(209, 208, 198, 0.513);
    padding:10px;
}
/* rgba(165, 165, 165, 0.192); */

.bg-card {
    background-color: rgba(124, 124, 121, 0.397);
}
/* rgba(147, 172, 172, 0.274) */
/* rgba(0, 223, 223, 0.068) */

.borderb {
    
    border-top: solid rgb(31, 32, 34);
}
/* rgb(156, 125, 142) */

.mg-bottom {
    margin-bottom: 30px;
}

.circle {
    color: rgb(0, 0, 0);
}

.imgn {
    max-width: 6rem;
    max-height: 3.5rem;
}